p{
    font-family: Arial, Helvetica, sans-serif;
}

.Head{
    font-size: 30px;
    font-weight: bold;
}

.Header{
    text-align: center;
    margin-top: 40px;
}

label{
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 30px;
    cursor: pointer;
    color: rgb(186, 184, 184);
    border-radius:5px;

}

.Details{
    background-color: rgb(202, 231, 185);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

select{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40%;
    border-color: rgb(186, 184, 184);
    border-radius: 5px;
    cursor: pointer;
    transition: pointer 2s;
    margin-bottom: 30px;
}

.Register{
    margin-top: 35px;
    padding: 10px;
    background-color: rgb(255, 170, 20);
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.25ms;
}

.Register:hover{
    opacity: 0.6;
}

